body {
    text-align: center;
}

#game {
    width: 300px;
    height: 200px;
    background-color: #5548cd;
    position: relative;
    margin-left: 40%;
    border: 5px solid black;
    border-radius: 2px;
}
#ordinateur {
    width: 60px;
    height: 65px;
    background-image: url("../images/ordinateur.png"); /*on remonte un cran au dessus avant*/
    background-size: cover;   /* adapte l’image à la taille du bloc */
    background-position: center;
    border: 1px;
    border-radius: 2px;
    cursor: grab;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    left: 40%;
}

#reparation {
    width: 70px;
    height: 80px;
    background-image: url("../images/recondition.png"); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 25px;
}

#poubelle {
    width: 80px;
    height: 90px;
    background-image: url("../images/poubelle.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-left: 5px;

}

.top {
    top: 5px;
    right: 25px;
}

.bottom {
    bottom: 5px;
    right: 25px;
}

#gagne {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6 ease;
}

#gagne.visible {
    max-height: fit-content;
}

#demarches {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}

#conclusion {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}