* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    position: absolute;  
    top: 12%;                 
    left: 50%;                  
    transform: translateX(-50%); 
    width: 50%;                  
    height: 40%;                
    background-color: lightblue;
    overflow: auto;
}



#logo_section {
    top: 0;
    background-color: #438eda;
    color: #fff;
    padding: 1rem;
}

#navbar_section {
    background-color: #89919a;
    padding: 0.5rem;
    border: 2px solid #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    display: inline-block;
    margin-right: 20px;
}

#header_logo {
    width: 20%;
    max-width: 300px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

.center_title {
    font-size: 2rem;
    text-align: center;
    margin: 0.7rem;
}

.rainbow_text {
    font-size: 5rem;
    margin-bottom: 3rem;
}

#background_image {
    position: relative;
    background-image: url('../images/background.png');
    background-color: #0f0f0f;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}
