* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    position: absolute;  
    top: 11.5%;                 
    left: 50%;                  
    transform: translateX(-50%); 
    width: 54.5%;                  
    height: 68%;                
    background-color: lightblue;
    overflow: auto;
}


#logo_section {
    top: 0;
    background-color: #438eda;
    color: #fff;
    padding: 1rem;
}

#navbar_section {
    background-color: #89919a;
    padding: 0.5rem;
    border: 2px solid #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    display: inline-block;
    margin-right: 20px;
}

#header_logo {
    width: 20%;
    max-width: 300px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#background_image {
  position: relative;
  background-color: #0c0c0c;
  background-size: contain;
  background-position: center top;
  margin: auto;
}

#computer_bg {
  width: 92%;
  height: auto;
  display: block;
  margin: auto;
}

/*Elements specifiques de la page en dessous*/

h2 {
    margin-top: 10px;
}


#game {
    width: 300px;
    height: 200px;
    background-color: #5548cd;
    position: relative;
    border: 5px solid black;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

#ordinateur {
    width: 60px;
    height: 65px;
    background-image: url("../images/ordinateur.png"); /*on remonte un cran au dessus avant*/
    background-size: cover;   /* adapte l’image à la taille du bloc */
    background-position: center;
    border: 1px;
    border-radius: 2px;
    cursor: grab;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    left: 40%;
}

#reparation {
    width: 70px;
    height: 80px;
    background-image: url("../images/recondition.png"); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 25px;
}

#poubelle {
    width: 80px;
    height: 90px;
    background-image: url("../images/poubelle.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-left: 5px;

}

.top {
    top: 5px;
    right: 25px;
}

.bottom {
    bottom: 5px;
    right: 25px;
}

#gagne {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6 ease;
    margin-top: 10px;
}

#gagne.visible {
    max-height: fit-content;
}

#demarches {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}

#conclusion {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}