* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 0.8rem;
}

#container {
    position: absolute;  
    top: 11.5%;                 
    left: 50%;                  
    transform: translateX(-50%); 
    width: 54.5%;                  
    height: 68%;                
    background-color: lightblue;
    overflow: auto;
}

.hidden {
    display: none;
}
.game_over {
    display: block;
    color: red;
    font-size: bold;
}

#logo_section {
    top: 0;
    background-color: #438eda;
    color: #fff;
    padding: 1rem;
}


main {
    flex: 1;
    padding: 2rem;
}

body { font-family: system-ui;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:#111;
    color:black; 
}

#wrap {
    display:flex;
    align-items:flex-start;
    gap: 20px;
}

#snake_game {
    background:#222;
    border:2px solid #444;
}

#panel {
    max-width: 240px;
}

.score {
    font-weight: bold;
}

button {
    padding: 8px 12px;
    border: 2px solid black;
    color: white;
    background-color: #438eda;
}

button:hover {
    background-color: #244f7a;
}

#background_image {
  position: relative;
  background-color: #0c0c0c;
  background-size: contain;
  background-position: center top;
  margin: auto;
}

#computer_bg {
  width: 92%;
  height: auto;
  display: block;
  margin: auto;
}

#restart {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    color: white;
    background-color: #438eda;
}

#restart:hover {
    background-color: #244f7a;
}
