<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIRD - Durabilite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_durabilite.css') }}">
</head>
<body>
    <div id="background_image">
        <img src="{{ url_for('static', filename='images/background.png') }}" id="computer_bg" alt="Ordinateur">
        <div id="container">
            {% include 'header.html' %}
            <main>
                <div>
                    <h1>Durabilité</h1>
                </div>
                <div>
                    <p>
                        Quand un ordinateur ne peut plus recevoir de mise à jour, beaucoup pensent qu'il est bon pour la casse. 
                        Pourtant, il existerait un autre avenir pour ces machines...
                    </p>
                    <h2>Et vous, que feriez-vous si votre appareil ne pouvait plus recevoir de mises à jour de sécurité ?</h2>
                    <p>Faites glisser l'ordinateur:</p>
                </div>
                <div id="game">
                    <div id="poubelle", class="top"></div>
                    <div id="reparation", class="reparation"></div>
                    <div id="ordinateur", class="ordinateur", draggable="true"></div>
                </div>
                <div id="gagne">
                    <h2>Vous pouvez le reconditionner ou passer sous Linux !</h2>
                    <p>Votre ordinateur a peut-être un ou deux composants obsolètes, mais qu'en est-il des autres ? Bien 
                        souvent, on peut récupérer de nombreux composants utiles pour rénover d'autres machines, ou utiliser des
                        pièces de récupération pour réparer la votre !
                    </p>
                    <h4>Linux</h4>
                    <p>
                        Votre système d'exploitation ne veut plus faire de mise à jour de sécurité ? Bienvenue chez Linux ! Ce 
                        pionnier de l'open-source tournera sans peine sur votre ordinateur, et lui assurera encore de belles
                        années devant lui. Prend-ça, obsolescence programmée !
                    </p>
                    <div id="quiz_box">
                        <h2>Petit Quizz !</h2>
                        <h4>Quel est le système d'exploitation Open source le plus connu ?</h4>
                        <br>
                        <label for="user_answer">Entre une réponse :</label>
                        <input type="text" id="user_answer" placeholder="Tape ta réponse ici">
                        <button id="validate">Valider</button>
                        <p id="feedback"></p>
                    </div>
                    <div>
                        <a href="/snake" id="snake" class="hidden"><button>SNAKE</button></a>
                    </div>

                </div>
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts_durabilite.js') }}"></script>
</body>
</html>