<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_snake.css') }}">
</head>
<body>
    <div id="background_image">
        <img src="{{ url_for('static', filename='images/background.png') }}" id="computer_bg" alt="Ordinateur">
        <div id="container">
            <div>
                <header>
                    <a href="/index"><button>Accueil</button></a>
                </header>
            </div>
            <main>
                <div id="wrap">
                    <canvas id="snake_game" width="400" height="400">
                        Votre navigateur ne supporte pas le canvas.
                    </canvas>
                    <div id="panel">
                        <div>
                            <h1>SNAKE !!</h1>
                        </div>
                    <button id="restart">Recommencer</button>
                    <p>Contrôles: Flèches.</p>
                    <p id="game_over" class="hidden">Game Over !</p>
                    </div>
                </div>

                </div>
            </main>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts_snake.js') }}"></script>
</body>
</html>